/*
  =====================================
  Total Page Styling
  =====================================
*/

body {
    background: -moz-linear-gradient(top,  rgba(73,155,234,0.45) 0%, rgba(53,140,232,0.45) 33%, rgba(32,124,229,0.75) 69%, rgba(32,124,229,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(73,155,234,0.45) 0%,rgba(53,140,232,0.45) 33%,rgba(32,124,229,0.75) 69%,rgba(32,124,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(73,155,234,0.45) 0%,rgba(53,140,232,0.45) 33%,rgba(32,124,229,0.75) 69%,rgba(32,124,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
    font-family: 'Poiret One', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
}

.container {
    display: block;
}

a:hover {
    cursor: pointer;
    color: #fff;
}

p {
    font-size: 20px;
}

/*
  =====================================
  Header
  =====================================
*/
.headerArea {
    background-image: url("../images/headerbackground5.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
    height: 300px;
    width: 100%;
    position: relative;
}

#bearBanner {
    border-radius: 50%;
    width: 15%;
    margin-top: 30px;
    margin-bottom: 10px;
}

i {
    margin: 0;
    padding: 0;
    color: #F28C33;
}

h2 {
    margin: 0;
    padding: 0;
    height: 47px;
}


/*
  =====================================
  Navigation Bar
  =====================================
*/
nav {
    background-color: #fff;
    position:absolute;
    bottom:0;
}
nav .brand-logo {
    color: #000000;
}

nav ul a {
    color: #000;
}
nav ul a:hover {
    color: #000;
}

#navBarButtonsDiv {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 330px;
}

.navBarButton {
    width: 110px;
}

/*
  =====================================
  Project Section
  =====================================
*/

.rowProject {
    margin-bottom: 144px;
}

#cardDisplay {
    display: block;
}

.card .card-image img {
    display: block;
    margin: 10px auto 0px auto;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30%;
}

.card {
    height: 200px;
}

.card .card-content {
    padding: 0 20px;
}

#progressCoffeeImage {
    width: 50%;
}

#classifyProjectImage {
    height: 85px;
    width: 80%;


    /*sdfsdfsdf*/
}

.projectLink {
    font-size: 20px;
    font-weight: 8;
    display: block;
}

.projectGitHubLink {
    font-size: 15px;
    font-weight: 8;
    display: block;
}

.project {
    display: block;
    position: relative;
    height: 100px;
}


.project .project-words {
    position: absolute;
    bottom: 0;
    width: 96%;
    padding: 0;
    height: 100px;
    text-align: center;
    color: black;
    opacity: 0;
    background: #FFF;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.project .project-words .project-words-content {
    position: absolute;
    top: 50%;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    transform: translateY(-50%);
    font-size: 2em;
    font-weight: 500;
    letter-spacing: .11em;
}

.project:hover .project-words {
    opacity: 1;
}

/*
  =====================================
  Technologies Section
  =====================================
*/

#technologiesSection {
    margin-top: 110px;
}

#techIconGridImagesMaterialize {
    margin: 25px auto;
}

#techIconGridImagesNPM {
    margin: 34px auto;
}

.tech-stack {
    color: black;
}

.tech {
    display: block;
    position: relative;
    margin: 0 auto 30px auto;
    height: 100px;
}

.tech-image {
    display: block;
    margin: auto;
    width: 30%;
    margin: 10px auto;
}

.tech .tech-words {
    position: absolute;
    bottom: 0;
    width: 96%;
    padding: 0;
    height: 100px;
    text-align: center;
    color: black;
    opacity: 0;
    background: #FFF;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.tech .tech-words .tech-words-content {
    position: absolute;
    top: 50%;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    transform: translateY(-50%);
    font-size: 2em;
    font-weight: 500;
    letter-spacing: .11em;
}

.tech:hover .tech-words {
    opacity: 1;
}

/*
  =====================================
  Footer
  =====================================
*/
footer.page-footer {
    padding-top: 0;
    background-color: #fff;
    background-image: url("../images/headerbackground5.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
    width: 100%;
}

#footerContactHeader {
    text-align: center;
    color: #fff;
}

#footerIconLogosTopDiv {
    width: 146px;
    height: 70px;
    padding: 0;
    display: block;
    margin: 0 auto;
}

#footerIconLogosBottomDiv {
    width: 221px;
    height: 80px;
    padding: 0;
    display: block;
    margin: 0 auto;
}

.footerIconLogos {
    width: 70px;
    display: inline;
}

/*
  =====================================
  MediaQueries
  =====================================
*/
@media screen and (max-width: 640px) {
    /*
      =====================================
      Total Page Styling
      =====================================
    */
    p {
        font-size: 16px;
    }

    /*
      ===================================
      Header Area
      ===================================
    */
    .headerArea {
        height: 163px;
    }

    #bearBanner {
        width: 25%;
        padding: 0;
        margin: 5px 0;
    }

    /*
      ===================================
      Technologies Section
      ===================================
    */

}